<div class="container" style="margin-top: 70px !important;">
	<h1>Destinations</h1>

	<div>
		<div class="input-group form-group-no-border input-lg">
         <div class="input-group-prepend">
            <span class="input-group-text">  <i class="fa fa-search"></i></span>
         </div>
        	<input type="text" class="form-control" placeholder="Search" >
      </div>
	</div>

	<div style="margin-top: 30px;">
		<div *ngFor="let destination of destinations">
			<p><img height="100px" src="{{ destination.img }}"> {{ destination.title }}</p>
		</div>
	</div>
</div>
